<?xml version="1.0" encoding="UTF-8"?>
<Config>
	<Database>
		<Url>jdbc:mysql://localhost:3306/stockdb?characterEncoding=UTF-8</Url>
		<Username>root</Username>
		<Password></Password>
	</Database>
	<Stock>
		<IdUrl>http://bbs.10jqka.com.cn/codelist.html</IdUrl>
		<InfoUrl>http://doctor.10jqka.com.cn/</InfoUrl>
	</Stock>
</Config>